<div class="dashboard index">

   <h2>Personal dashboard</h2>

   <% total_balance = 0 %>
   <% account_number = 0 %>

   <% @accounts.each do |account| %>
   <% account_number +=1 %>

   <% total_balance += account.balance %>
   <% end %>

   <div class="summary", style = "float:left">
     <h3>Summary</h3>
     <h5>
       <font color = "#C0C0C0">Personal summary for:</font>
       <b><%=current_user.firstname + " " + current_user.lastname %></b>
     </h5>

     <p>
       <font color = "#C0C0C0">Accounts number is :</font>
       <b><%= account_number%></b>
     </p>

     <p>
       <font color = "#C0C0C0">Total balance is :</font>
       <b><%=total_balance%></p></b>
   </div>

   <div class="Inbox", style = "float:right">
     <h3>Inbox</h3>
     <div class="alert alert-primary" role="alert",style = "width:1000px">
       Create a new payment
       <%= link_to ">", new_transaction_path %>
     </div>

     <div class="alert alert-primary" role="alert",style = "width:1000px">
       Create a new payment
       <%= link_to ">", new_transaction_path %>
     </div>


   </div>



   <table class ="table"  summary="Accounts list">
     <tr class ="header">
       <th>AccountID</th>
       <th>User</th>
       <th>Balance</th>
       <th>Action</th>
     </tr>
     <% @accounts.each do |account| %>
     <tr>
       <td><%= account.account_number %></td>
       <td><%= account.user.firstname %></td>
       <td><%= account.currency + ":" + account.balance.to_s %></td>
       <td class="user">
         <%= link_to "View details", account_path(account), class: "link" %>
       </td>
     </tr>
     <% end %>
   </table>
</div>
