
<div class="container-fluid">
  <div class="row">
    <%= render partial: "dashboard/navbar" %>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h2 style="color:blue">Personal Summary</h2>
      <hr align=left width=400 SIZE=1>
        <div class="card mb" style="width: 25rem;">
            <div class="card-header">
              Personal Summary for <%= current_user.lastname + " " + current_user.firstname %>
            </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span> Email: </span> <%= current_user.email %></li>
            <li class="list-group-item"><span> PHONE: </span><%= current_user.phone %></li>
            <li class="list-group-item"><span> BIRTH DATE: </span><%= current_user.birth_date %></li>
            <li class="list-group-item"><span> ACCOUNT NUMBER: </span><%= @accounts.length %></li>
            <li class="list-group-item"><span> TOTAL BALANCE: </span><%= total_balance %></li>
          </ul>
        </div>

        <div class="list-group" style="width: 25rem; position:absolute; right:50px; top: 70px;">
          <a class="list-group-item list-group-item-action active">
            <span style="font-size:20px">Action List</span>
          </a>
          <a>
            <%= link_to new_transaction_path, class: "list-group-item list-group-item-action" do %>
            <span style="font-size:20px">Make a Transfer</span>
            <%end%>
          </a>
          <a class="list-group-item list-group-item-action"><span style="font-size:20px">Invest</span></a>
          <a class="list-group-item list-group-item-action"><span style="font-size:20px">Help</span></a>
          <a class="list-group-item list-group-item-action"><span style="font-size:20px">Contact us</span></a>

        </div>

        <div style=" margin-top:50px">
          <h3 style="color: dark">Account List </h3>
              <table class ="table table-striped"  summary="Accounts list">
                <tr class ="header">
                  <th>AccountID</th>
                  <th>Balance</th>
                  <th>Action</th>
                </tr>
                  <%= render partial: "user_list", collection: @accounts, as: :account %>
              </table>
          </div>





    </main>
  </div>
</div>
