<div class="row" style="height:1000px;">
  <%= render partial: "dashboard/navbar" %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="background-color: #F3F4F7;box-shadow: 0 2.8px 2.2px rgba(0,0,0,0.034),0 100px 80px rgba(0,0,0,0.12);">
    <div class ="row p-2 " style="margin-top:40px;">
      <div class ="col-8">
        <h1 style="font-weight:bold;color:#668EB9">Home</h1>
      </div>
        <div class ="col-3" style="margin-top:30px">
        <p>Last Login: <%= Time.at(current_user.last_sign_in_at)%></p>
      </div>
    </div>

    <div class ="row " style="margin-top:20px; margin-bottom:20px;padding-left:20px; padding-right:20px;width:100%;">
      <div class ="container" style="background: linear-gradient(60deg,#0067b6,#9dc8e4);border-radius:10px;height:200px;" >
        <div class ="row">
        <div class ="col-7">
        <h3 class ="p-2" style ="color:#ffffff;margin-top:50px;">Welcome back, <%= current_user.lastname%></h3>
        <p class ="p-2" style ="color:#ffffff;">Check your accounts and manage your all activities here</p>
        </div>
        <div class ="col-5" style="padding-top:0px;">
          <image width="100%" height="90%" src="city2.png"></image>
        </div>
        </div>
      </div>
      </div>

  <div class ="row " style="margin-top:20px; margin-bottom:20px;padding-left:20px; padding-right:20px;width:100%;">
    </div>


    <div class="card" style="width: 500px;border-radius:5px;background-color:#ffffff;height:400px;box-shadow: 0 2.8px 2.2px rgba(0,0,0,0.034)">
      <div class ="row p-3" style="margin-top:20px">
        <div class ="col-3" style="padding-left:50px;">
          <image width=110px height=110px src="profile.png"></image>
      </div>
      <div class ="col-6" style="padding-left:60px; margin-top:10px">
        <h3><%= current_user.firstname%></h3>
        <h3 style="font-weight:bold;"><%= current_user.lastname%></h3>
        </div>
      </div>

      <div class ="row" style="margin-top:20px;width:100%;">
        <div class ="col-4" style="padding-left:80px;">
          <p style="font-weight:bold;font-size:16px;">Email:</p>
      </div>
      <div class ="col-8"style="padding-left:80px;" >
        <p><%= current_user.email%></p>
        </div>
      </div>
      <div class ="row" style="margin-top:20px;width:100%;">
        <div class ="col-4" style="padding-left:80px;">
          <p style="font-weight:bold;font-size:16px;">Phone:</p>
      </div>
      <div class ="col-8"style="padding-left:80px;" >
        <p><%= current_user.phone%></p>
        </div>
      </div>
      <div class ="row" style="margin-top:20px;width:100%;">
        <div class ="col-4" style="padding-left:80px;">
          <p style="font-weight:bold;font-size:16px;">Address:</p>
      </div>
      <div class ="col-8"style="padding-left:80px;" >
        <p><%= current_user.address_line_1%> <%= current_user.address_line_2%></p>
        </div>
      </div>



    </div>
    </main>
