
<div class="container-fluid">
  <div class="row">
    <%= render partial: "dashboard/navbar" %>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h2>Personal Summary</h2>
        <div class="card mb" style="width: 25rem;">
            <div class="card-header">
              Personal information summary
            </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span> Name: </span><%= current_user.lastname + " " + current_user.firstname %></li>
            <li class="list-group-item"><span> Email: </span> <%= current_user.email %></li>
            <li class="list-group-item"><span> PHONE: </span><%= current_user.phone %></li>
            <li class="list-group-item"><span> BIRTH DATE: </span><%= current_user.birth_date %></li>
            <li class="list-group-item"><span> ACCOUNT NUMBER: </span><%= @accounts.length %></li>
            <li class="list-group-item"><span> TOTAL BALANCE: </span><%= @accounts.length %></li>
          </ul>
        </div>

        <div class="list-group" style="width: 25rem; position:absolute; right:50px; top: 50px">
          <a class="list-group-item list-group-item-action active">
            Action List
          </a>
          <a>
            <%= link_to new_transaction_path, class: "list-group-item list-group-item-action" do %>
            Make a Transfer
            <%end%>
          </a>
          <a class="list-group-item list-group-item-action">1</a>
          <a class="list-group-item list-group-item-action">2</a>

        </div>



      <h3 style="color: dark">Account List </h3>
          <table class ="table"  summary="Accounts list">
            <tr class ="header">
              <th>AccountID</th>
              <th>Balance</th>
              <th>Action</th>
            </tr>
              <%= render partial: "user_list", collection: @accounts, as: :account %>
          </table>

    </main>
  </div>
</div>
