<div class="row" style="height:1000px;">
  <%= render partial: "dashboard/navbar" %>
  <main class="col-md-9 ms-sm-auto col-lg-10" style="background-color: #F3F4F7;box-shadow: 0 2.8px 2.2px rgba(0,0,0,0.034),0 100px 80px rgba(0,0,0,0.12);">
    <div class ="row p-2 " style="margin-top:20px;">
      <div class ="col-8">
        <h1 style="font-weight:bold;color:<%= dashboard_head_text_color %>">Home</h1>
      </div>
        <div class ="col-3" style="margin-top:30px; padding-left:50px;">
        <p>Last Login: <%= (current_user.last_sign_in_at).strftime("%d/%m/%Y, %H:%M:%S")%></p>
      </div>
    </div>

    <div class ="row " style="margin-top:0px; margin-bottom:20px;padding-left:20px; padding-right:20px;width:100%;">
      <div class ="container" style="background: linear-gradient(60deg,#0067b6,#9dc8e4);border-radius:10px;height:200px;" >
        <div class ="row">
        <div class ="col-7">
        <h3 class ="p-2" style ="color:#ffffff;margin-top:50px;"><%= dashboard_main_text_1 %>, <%= current_user.firstname%></h3>
        <p class ="p-2" style ="color:#ffffff;"><%=dashboard_main_text_1%></p>
        </div>
        <div class ="col-5" style="padding-top:0px;">
          <image width="100%" height="90%" src="city2.png"></image>
        </div>
        </div>
      </div>
      </div>

  <div class ="row " style="margin-top:50px; margin-bottom:30px;width:100%;">

    <div class ="col-5">
    <div class="card" style="width: 550px;border-radius:5px;background-color:#ffffff;height:550px;box-shadow: 0 2.8px 2.2px rgba(0,0,0,0.034)">
      <div class ="row p-3" style="margin-top:20px">
        <div class ="col-3" style="padding-left:50px;">
          <image width=110px height=110px src="profile.png"></image>
      </div>
      <div class ="col-6" style="padding-left:60px; margin-top:10px">
        <h3><%= current_user.firstname%></h3>
        <h3 style="font-weight:bold;"><%= current_user.lastname%></h3>
        </div>
      </div>

      <div class ="row" style="margin-top:20px;width:100%;">
        <div class ="col-4" style="padding-left:80px;">
          <p style="font-weight:bold;font-size:16px;">Email:</p>
      </div>
      <div class ="col-8"style="padding-left:80px;" >
        <p><%= current_user.email%></p>
        </div>
      </div>
      <div class ="row" style="margin-top:20px;width:100%;">
        <div class ="col-4" style="padding-left:80px;">
          <p style="font-weight:bold;font-size:16px;">Phone:</p>
      </div>
      <div class ="col-8"style="padding-left:80px;" >
        <p><%= current_user.phone%></p>
        </div>
      </div>
      <div class ="row" style="margin-top:20px;width:100%;">
        <div class ="col-4" style="padding-left:80px;">
          <p style="font-weight:bold;font-size:16px;">Address:</p>
      </div>
      <div class ="col-8"style="padding-left:80px;" >
        <p><%= current_user.address_line_1%> <%= current_user.address_line_2%></p>
        </div>
      </div>
      <div class ="row" style="margin-top:20px;width:100%;">
        <div class ="col-4" style="padding-left:80px;">
          <p style="font-weight:bold;font-size:16px;">Birth Date:</p>
      </div>
      <div class ="col-8"style="padding-left:80px;" >
        <p><%= (current_user.birth_date).strftime("%d/%m/%Y")%></p>
        </div>
      </div>
      <div class ="row" style="margin-top:20px;width:100%;">
        <div class ="col-4" style="padding-left:80px;">
          <p style="font-weight:bold;font-size:16px;">Last Login IP:</p>
      </div>
      <div class ="col-8"style="padding-left:80px;" >
        <p><%= current_user.last_sign_in_ip%></p>
        </div>
      </div>
      </div>
        </div>
        <div class ="col-1"style="padding-right:100px;">
          </div>
      <div class ="col-5" >
        <div class ="row">
            <div class ="col-6">
              <div class ="card"style=" width:220px;height:160px;display: flex; align-items: center;justify-content: center;border-radius:5px;box-shadow: 0 2.8px 2.2px rgba(0,0,0,0.034)">
                <h3 style="margin-top:-5px">You have</h3>
                <p style="font-size:30px;color:<%=dashboard_static_text_color%>"><%= @accounts.length%></p>
                <h3 style="margin-top:-20px"><%="account".pluralize(@accounts.length)%></h3>

            </div>
          </div>

            <div class ="col-6">
              <div class ="card"style="width:220px;height:160px;display: flex; align-items: center;justify-content: center;border-radius:5px;background-color:#ffffff;box-shadow: 0 2.8px 2.2px rgba(0,0,0,0.034)">

              <h4 style="margin-top:5px;font-weight:bold">Total Balance</h4>
              <p style="font-size:20px;color:<%=dashboard_static_text_color%>; margin: 0px;"><%="€ " + total_balance_EUR.to_s%></p>
              <p style="font-size:20px;color:<%=dashboard_static_text_color%>; margin: 0px;"><%="£ " + total_balance_GBP.to_s%></p>
              <p style="font-size:20px;color:<%=dashboard_static_text_color%>; margin: 0px;"><%="$ " + total_balance_USD.to_s %></p>


            </div>
            </div>

          </div>
          <div class ="row" style="margin-top:40px; padding-left:20px">
            <div class="card" style="width: 550px;border-radius:5px;background-color:#ffffff;box-shadow: 0 2.8px 2.2px rgba(0,0,0,0.034)">

            <h3 style="padding-left:140px">Account Summary </h3>
             <table class ="table table-striped"  summary="Accounts list">
               <tr class ="header">
                 <th>Account number</th>
                 <th>Balance</th>
                 <th>Action</th>
               </tr>
                 <%= render partial: "user_list", collection: @accounts, as: :account %>
             </table>
          </div>
          </div>
          <div class ="row" style="margin-top:30px; padding-left:20px">
            <div class="list-group" style="width: 550px;">
       <a class="list-group-item list-group-item-action active" style="background-color:<%= dashboard_action_head_color%>; color:<%=dashboard_action_head_font_color%>;font-size:20px">
         Action
       </a>
       <a>
         <%= link_to new_transaction_path, class: "list-group-item list-group-item-action" do %>
         <span style="font-size:20px">Make a Transfer</span>
         <%end%>
       </a>
       <a class="list-group-item list-group-item-action"><span style="font-size:20px">Invest</span></a>
       <a class="list-group-item list-group-item-action"><span style="font-size:20px">Help</span></a>
       <a class="list-group-item list-group-item-action"><span style="font-size:20px">Contact Us</span></a>

     </div>

          </div>
          </div>
    </div>
    </div>
    </main>
