<div class="dashboard index">
   <h2>Personal dashboard</h2>

   <%= link_to "go to payment", new_transaction_path %>

   <% total_balance = 0 %>
   <% @accounts.each do |account| %>

   <% total_balance += account.balance %>
   <% end %>

   <p class = "text-info">total balance is
   <%= total_balance %>
   <%= current_user.firstname %>
   <%= current_user.lastname %>
   </p>

   <table class ="table"  summary="Accounts list">
     <tr class ="header">
       <th>AccountID</th>
       <th>User</th>
       <th>Balance</th>
       <th>Action</th>
     </tr>
     <% @accounts.each do |account| %>
     <tr>
       <td><%= account.account_number %></td>
       <td><%= account.user.firstname %></td>
       <td><%= account.balance %></td>
       <td class="user">
         <%= link_to "View details", account_path(account), class: "link" %>
       </td>
     </tr>
     <% end %>
   </table>
</div>
