<div class="dashboard index">

   <h2>Personal dashboard</h2>

   <% total_balance = 0 %>
   <% account_number = 0 %>

   <% @accounts.each do |account| %>
   <% account_number +=1 %>

   <% total_balance += account.balance %>
   <% end %>

   <div class="head">
     <div class="summary">
       <h3>Summary</h3>
       <h5>
         <font color = "#C0C0C0">Personal summary for:</font>
         <b><%=current_user.firstname + " " + current_user.lastname %></b>
       </h5>

       <p>
         <font color = "#C0C0C0">Accounts number is :</font>
         <b><%= account_number%></b>
       </p>

       <p>
         <font color = "#C0C0C0">Total balance is :</font>
         <b><%=total_balance%></p></b>
     </div>

     <div class="Inbox">
       <h3>Inbox</h3>
       <div class="alert alert-primary" role="alert">
         Create a new payment
         <%= link_to ">", new_transaction_path %>
       </div>

       <div class="alert alert-primary" role="alert">
         Create a new payment
         <%= link_to ">", new_transaction_path %>
       </div>


     </div>

   </div>






   <table class ="table"  summary="Accounts list">
     <tr class ="header">
       <th>AccountID</th>
       <th>User</th>
       <th>Balance</th>
       <th>Action</th>
     </tr>
       <%= render partial: "user_list", collection: @accounts, as: :account %>
   </table>
</div>
