<div class="row">
    <%= render partial: "dashboard/navbar" %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Personal dashboard</h1>
        </div>

        <h3>Personal Summary <span class="small font-italic" style="font-size: x-small;"></span></h3>
        <div class="table-responsive">
          <ul>
            <li>
              NAME:
              <input class="form-control" type="text" placeholder="<%= current_user.lastname + current_user.lastname %>" aria-label ="user name" readonly>
            </li>
            <li>
              EMAIL:
              <input class="form-control" type="text" placeholder="<%= current_user.email %>" aria-label ="user name" readonly>
            </li>
            <li>
              PHONE:
              <input class="form-control" type="text" placeholder="<%= current_user.phone %>" aria-label ="user name" readonly>
            </li>
            <li>
              BIRTH DATE:
              <input class="form-control" type="text" placeholder="<%= current_user.birth_date %>" aria-label ="user name" readonly>
            </li>
            <li>
              ACCOUNT NUMBER:
              <input class="form-control" type="text" placeholder="<%= @accounts.length %>" aria-label ="user name" readonly>
            </li>
          </ul>
        </div>

        <h3>Account List <span class="small font-italic" style="font-size: x-small;"></span></h3>
        <div class="table-responsive">
          <table class ="table"  summary="Accounts list">
            <tr class ="header">
              <th>AccountID</th>
              <th>Balance</th>
              <th>Action</th>
            </tr>
              <%= render partial: "user_list", collection: @accounts, as: :account %>
          </table>
        </div>




    </main>
</div>
