<%= form_for [:admin, dealer], class: "col-7" do |form| %>
  <!-- Error -->
  <% if dealer.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(dealer.errors.count, "error") %> prohibited this dealer from being saved:</p>
      </div>
      <div class="message-body">
        <ul>
          <% dealer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <!-- form body -->
      <!-- currency and name -->
      <div class = "row" style="margin-bottom: 22px;" >
        <div class = "col-sm-6">
          <%= form.label :account_Number, "Account Number", class: "label", style:"font-size:18px;"  %>
          <br>
          <%= form.text_field :account_number, class: "input" ,style:"border: 0;border-bottom: 1px dotted #111111;" %>
          </div>
        <div class = "col-sm-6">
          <%= form.label :name, class: "label", style:"font-size:18px;"  %>
          <br>
          <%= form.text_field :name, class: "input",style:"border: 0;border-bottom: 1px dotted #111111;"  %>
        </div>
  </div>

      <!-- min & max amounts -->
      <div class = "row" style="margin-bottom: 22px;">
        <div class = "col-6">
          <%= form.label :min_amount, "Minimum Transaction amount", class: "label" , style:"font-size:18px;" %>
          <br>
          <%= form.number_field :min_amount, class: "input",style:"border: 0;border-bottom: 1px dotted #111111;" %>
        </div>
        <div class = "col-6">
          <%= form.label :max_amount, "Maximum Transaction amount", class: "label", style:"font-size:18px;"  %>
          <br>
          <%= form.number_field :max_amount, class: "input",style:"border: 0;border-bottom: 1px dotted #111111;"  %>
        </div>
      </div>

      <!-- account number & is_vendor -->
      <div class = "row" style="margin-bottom: 22px;">
        <div class ="col-6">
          <%= form.label :currency, class: "label", style:"font-size:18px;"  %>
          <br>
          <%= form.select :currency, Account::CURRENCY_TYPES,style:"border: 0;border-bottom: 1px dotted #111111;" %>

        </div>
        <div class = "col-6">
          <%= form.label :is_vendor, "This dealer is a vendor (instead of an individual)", class: "label" , style:"font-size:18px;" %>
          <br>
          <%= form.check_box :is_vendor, class: "input",style:"border: 0;border-bottom: 1px dotted #111111;"  %>
        </div>
      </div>

      <!-- relative frequency -->
      <div class = "row" style="margin-bottom: 40px;">
        <div class = "col-5">
          <%= form.label :frequency, "Relative frequency", class: "label" , style:"font-size:18px;" %>
          <br>
          <%= form.number_field :frequency, class: "input" ,style:"border: 0;border-bottom: 1px dotted #111111;" %>
                <div class = "col-9">
          <p>(how many times would a normal person deal with this dealer in 100 days)</p>
        </div>
        </div>
      </div>
      <div class="actions">
        <%= form.submit class: "btn-lg btn-primary",style:"background-color:#075aaa;"%>
      </div>
<% end %>
