<%= form_for [:admin, dealer], class: "col-7" do |form| %>
  <!-- Error -->
  <% if dealer.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(dealer.errors.count, "error") %> prohibited this dealer from being saved:</p>
      </div>
      <div class="message-body">
        <ul>
          <% dealer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <!-- form body -->
  <div class = "container p-3">
      <!-- currency and name -->
      <div class = "row" style="margin-bottom: 22px;" >
        <div class = "col-6">
          <%= form.label :account_Number, "Account Number", class: "label" %>
          <br>
          <%= form.text_field :account_number, class: "input", style: "line-height: 20px; border-radius: 5px;" %>
          </div>
        <div class = "col-6">
          <%= form.label :name, class: "label" %>
          <br>
          <%= form.text_field :name, class: "input", style: "line-height: 20px; border-radius: 5px;" %>
        </div>
  </div>

      <!-- min & max amounts -->
      <div class = "row" style="margin-bottom: 22px;">
        <div class = "col-6">
          <%= form.label :min_amount, "Minimum Transaction amount", class: "label" %>
          <br>
          <%= form.number_field :min_amount, class: "input",  style: "line-height: 20px; border-radius: 5px;" %>
        </div>
        <div class = "col-6">
          <%= form.label :max_amount, "Maximum Transaction amount", class: "label" %>
          <br>
          <%= form.number_field :max_amount, class: "input", style:  "line-height: 20px; border-radius: 5px;" %>
        </div>
      </div>

      <!-- account number & is_vendor -->
      <div class = "row" style="margin-bottom: 22px;">
        <div class ="col-6">
          <%= form.label :currency, class: "label" %>
          <br>
          <%= form.select :currency, Account::CURRENCY_TYPES,style:"border-radius: 5px;" %>

        </div>
        <div class = "col-6">
          <%= form.label :is_vendor, "This dealer is a vendor (instead of an individual)", class: "label" %>
          <br>
          <%= form.check_box :is_vendor, class: "input" %>
        </div>
      </div>

      <!-- relative frequency -->
      <div class = "row" style="margin-bottom: 40px;">
        <div class = "col">
          <%= form.label :frequency, "Relative frequency", class: "label" %>
          <br>
          <%= form.number_field :frequency, class: "input", style:"line-height: 20px; border-radius: 5px; padding: 0 20px; margin-bottom:10px;" %>
          <p>(how many times would a normal person deal with this dealer in 100 days)</p>

        </div>
      </div>
      <div class="actions">
        <%= form.submit class: "button btn-outline-primary" %>
      </div>
    </div>


<% end %>
