<%= form_for [:admin, account], class: "col-8" do |form| %>
  <!-- Errors -->
  <% if account.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Input fields -->
  <div class="form-group row">
    <%= form.label :account_number, class: "col-sm-4 col-form-label", style:"font-size:18px;"  %>
    <div class="col-sm-6">
      <%= form.text_field :account_number, autofocus: true, class: "form-control" ,style:"border: 0;border-bottom: 1px dotted #111111;" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :balance, class: "col-sm-4 col-form-label", style:"font-size:18px;"  %>
    <div class="col-sm-6">
      <%= form.number_field :balance, class: "form-control",style:"border: 0;border-bottom: 1px dotted #111111;" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :currency, class: "col-sm-4 col-form-label", style:"font-size:18px;"  %>
    <div class="col-sm-6">
      <%= form.text_field :currency, class: "form-control",style:"border: 0;border-bottom: 1px dotted #111111;" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :cvv, class: "col-sm-4 col-form-label" , style:"font-size:18px;" %>
    <div class="col-sm-6">
      <%= form.text_field :cvv, class: "form-control",style:"border: 0;border-bottom: 1px dotted #111111;" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :expiry_date, class: "col-sm-4 col-form-label", style:"font-size:18px;"  %>
    <div class="col-sm-6">
      <%= form.date_field :expiry_date, class: "form-control" ,style:"border: 0;border-bottom: 1px dotted #111111;"%>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :user, class: "col-sm-4 col-form-label", style:"font-size:18px;"  %>
    <div class="col-sm-6">
      <%= form.collection_select :user_id, User.all, :id, :firstname,:prompt => true %>
    </div>
  </div>
  <div class="actions p-3">
    <%= form.submit class: "btn-lg btn-primary",style:"background-color:#075aaa;"%>
  </div>
<% end %>
