<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 12c72bf4e14c8892e79adde916cf2a2d94cdd1a7

  <div class="row" style ="background-color: #ecf0f5;">
    <%= render partial: "admin/shared/navbar" %>
    <div class="container" style ="padding: 40px 15px;padding-left:40px;display: flex; align-items: center;justify-content: center;">
      <div class ="row">
      <!-- Header -->
        <div class ="card" style=" width:680px;border: 0;margin-bottom: 30px;margin-top: 30px;border-radius: 6px;">
          <div class ="card-header" style="background: linear-gradient(60deg,#7b1fa2,#075aaa);margin: 0 15px;
          margin-top: -20px;z-index: 3;">
            <h4 class="mb-4 pt-2" style="color:#ffffff">Edit Account:  <%= @account.account_number %> </h4>
            </div>
            <div class ="card-body" style=" padding-left:40px;">
              <%= link_to "Back", admin_accounts_path %>
              <%= render 'form', account: @account %>

          </div>



</div>
<<<<<<< HEAD
=======
<div class = "row">
  <%= render partial: "admin/shared/navbar" %>
  <div class="col-md-9 ml-sm-auto col-lg-10 pt-5 px-4 p-4">
    <div class="column is-one-third">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="mb-4 pt-2" style="color:#01045d">Edit Account--- <%= @account.account_number %></h1>
        <button type="button" class="btn btn-lg btn-dark"><%= link_to "Back", admin_accounts_path,style: "color: inherit; text-decoration: none;" %></button>
      </div>
      <!-- Form -->
      <%= render 'form', account: @account %>
    </div>
>>>>>>> main
=======
>>>>>>> 12c72bf4e14c8892e79adde916cf2a2d94cdd1a7
