
<div class="pb-2 mb-3 border-bottom">
<h4>Home</h4>
</div>
<%= form_for styles, url: admin_styles_path, method: :put, html: {class: "col-8", style: "margin: 15px;"} do |f| %>

  <!-- Background color --> 
  <div class="form-group row">
    <%= f.label :home_background_color, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.color_field :home_background_color, value: home_background_color, class: "form-control" %>
    </div>
  </div>

  <!-- Main marketing title --> 
  <div class="form-group row">
    <%= f.label :home_main_marketing_title, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_field :home_main_marketing_title, value: home_main_marketing_title, class: "form-control" %>
    </div>
  </div>

  <!-- Main marketing subtitle --> 
  <div class="form-group row">
    <%= f.label :home_main_marketing_subtitle, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_field :home_main_marketing_subtitle, value: home_main_marketing_subtitle, class: "form-control" %>
    </div>
  </div>

  <!-- Main marketing image -->
  <div class="form-group row">
    <%= f.label :home_main_marketing_image, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= image_tag home_main_marketing_image, style: "height: 160px; width: auto; margin-bottom: 5px;" %>
      <%= f.file_field :home_main_marketing_image, class: "form-control-file" %>
    </div>
  </div>

  <hr>

  <!-- Main marketing message 1 -->
  <div class="form-group row">
    <%= f.label :home_main_marketing_message_1, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_field :home_main_marketing_message_1, value: home_main_marketing_message_1, class: "form-control" %>
    </div>
  </div>

  <!-- Main marketing text 1 -->
  <div class="form-group row">
    <%= f.label :home_main_marketing_text_1, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_area :home_main_marketing_text_1, value: home_main_marketing_text_1, class: "form-control" %>
    </div>
  </div>

  <!-- Main marketing card image 1 -->
  <div class="form-group row">
    <%= f.label :home_main_marketing_card_image_1, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= image_tag home_main_marketing_card_image_1, style: "height: 160px; width: auto; margin-bottom: 5px;" %>
      <%= f.file_field :home_main_marketing_card_image_1, class: "form-control-file" %>
    </div>
  </div>

  <hr>

  <!-- Main marketing message 2 -->
  <div class="form-group row">
    <%= f.label :home_main_marketing_message_2, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_field :home_main_marketing_message_2, value: home_main_marketing_message_2, class: "form-control" %>
    </div>
  </div>

  <!-- Main marketing text 2 -->
  <div class="form-group row">
    <%= f.label :home_main_marketing_text_2, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_area :home_main_marketing_text_2, value: home_main_marketing_text_2, class: "form-control" %>
    </div>
  </div>

  <!-- Main marketing card image 2 -->
  <div class="form-group row">
    <%= f.label :home_main_marketing_card_image_2, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= image_tag home_main_marketing_card_image_2, style: "height: 160px; width: auto; margin-bottom: 5px;" %>
      <%= f.file_field :home_main_marketing_card_image_2, class: "form-control-file" %>
    </div>
  </div>

  <hr>

  <!-- Main marketing message 3 -->
  <div class="form-group row">
    <%= f.label :home_main_marketing_message_3, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_field :home_main_marketing_message_3, value: home_main_marketing_message_3, class: "form-control" %>
    </div>
  </div>

  <!-- Main marketing text 3 -->
  <div class="form-group row">
    <%= f.label :home_main_marketing_text_3, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_area :home_main_marketing_text_3, value: home_main_marketing_text_3, class: "form-control" %>
    </div>
  </div>

  <!-- Main marketing card image 3 -->
  <div class="form-group row">
    <%= f.label :home_main_marketing_card_image_3, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= image_tag home_main_marketing_card_image_3, style: "height: 160px; width: auto; margin-bottom: 5px;" %>
      <%= f.file_field :home_main_marketing_card_image_3, class: "form-control-file" %>
    </div>
  </div>

  <!-- Footer free style message --> 
  <div class="form-group row">
    <%= f.label :home_footer_md, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_area :home_footer_md, class: "form-control" %>
    </div>
  </div>

  <!-- Footer links -->
  <div class="form-group row">
    <%= f.label :home_links_1, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_area :home_links_1, placeholder: "Separate links with a comma", value: serialize(home_links_1), class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :home_links_2, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_area :home_links_2, placeholder: "Separate links with a comma", value: serialize(home_links_2), class: "form-control" %>
    </div>
  </div>

  <!-- Footer text color -->
  <div class="form-group row">
    <%= f.label :home_footer_text_color, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-6">
      <%= f.color_field :home_footer_text_color, value: home_footer_text_color, class: "form-control" %>
    </div>
  </div>

  <%= f.submit class: "btn btn-outline-info" %>
<% end %>