<div class="container p-5" style = " display: flex; align-items: center;justify-content: center;">

<!-- Main container for sign in -->
  <div class ="box" width="120px" style=" border-radius:20px;border: 2px solid #01045d;">
  <div class="form-signin">
    <div class="logo-item" style = " display: flex; align-items: center;justify-content: center;">
      <!-- TODO: /llogo.png -->
      <img class="mt-3" src="<%=login_sigup_logo_image%>" alt="" width="90" height="90">
    </div>

    <p class =" font-weight-bold mt-3" style ="font-size:30px;text-align: center;color:#01045d;"> SIGN IN </p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class ="container p-4">
        <div class=" row p-3">
          <span style="font-size: 20px;">
            <i class="fa fa-envelope  fa-xs"></i>
          </span>
          <div class ="col-sm-10">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",
            :style=> "border-radius: 25px; width: 100%; ;line-height: 2.0;
             padding: 0 30px 0 20px;height: 30px;" %>

        </div>
          </div>
        <div class="row p-3">
          <span style="font-size: 25px;">
            <i class="fa fa-lock  fa-xs"></i>
          </span>
          <div class ="col-sm-10 ">
            <%= f.password_field :password, autocomplete: "current-password",placeholder: "Password",
            :style=> "border-radius: 25px; width: 101%; line-height: 2.0;
            padding: 0 30px 0 20px; height: 30px;" %>
      </div>
            </div>

            <% if devise_mapping.rememberable? %>
            <div class ="mt-3">
              <%= f.check_box :remember_me%>
              <%= f.label :Remember_Me, :style=>"color: #01045d; font-size: 15px;padding:3px" %>
            </div>
            <% end %>


    <div class="actions">
      <%= f.submit "Log in", class:'btn btn-primary btn-lg',:style => "width: 100%;
      border-color: #f90e67; text-align:center;background-color:#f90e67; border-radius:24px;" %>
    </div>
    </div>
    </div>
    <% end %>

    <div class="p-5">
    <%= render "users/shared/links" %>
      </div>
  </div>
  </div>
</div>
