<div class="container">

  <title>Sign in</title>

<body class ="text-center">

  <form class="form-signin">
    <div class="logo-item">
      <img class="mb-4" src="/llogo.png" alt="" width="100" height="100">
    </div>
    <h1 class="h3 mb-3 font-weight-normal ">Please sign in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <br>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
      <br>

    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>
    <br>


    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
    <% end %>

    <%= render "users/shared/links" %>
  </form>
  </body>

</div>
