<div class="row">
  <%= render partial: "admin/shared/navbar" %>
<div class ="container" style="min-height:900px;background-color: #ecf0f5;">
    <div class ="row p-2">
    <h3 style ="padding-left: 25px; margin-top:15px;">Admin Dashboard</h3>
    </div>
    <div class ="container" style="min-height: 250px;padding: 15px;padding-left: 15px;padding-right: 15px;">
      <!-- Summary -->
      <div class ="row" style="margin-right: -15px; margin-left: -15px;">
        <div class="col-md-3">
          <div class ="box" style="display: block; min-height: 90px;background: #fff; width: 100%; border-radius: 2px; margin-bottom: 15px;">
            <span style="text-align: center; background-color:#87bdd8 ;height: 90px;width:90px;text-align:center;font-size: 45px;float: left;
            line-height: 90px;">
            <i class="fa fa-user" style="color:#ffffff; font-size:45px;"></i>
            </span>
              <div class = "box" style ="padding: 3px 10px;margin-left: 90px;">
                  <h2><%= User.count %></h2>
                  <p>Total Users</p>
              </div>
            </div>
        </div>
        <div class="col-md-3">
          <div class ="box" style="display: block; min-height: 90px;background: #fff; width: 100%; border-radius: 2px; margin-bottom: 15px;">
            <span style="text-align: center; background-color: #b7d7e8;height: 90px;width:90px;text-align:center;font-size: 45px;float: left;
            line-height: 90px;">
            <i class="fa fa-credit-card" style="color:#ffffff; font-size:45px;"></i>
            </span>
              <div class = "box" style ="padding: 3px 10px;margin-left: 90px;">
              <h2><%= Account.count %></h2>
              <p>Accounts</p>

              </div>
            </div>
        </div>
        <div class="col-md-3">
          <div class ="box" style="display: block; min-height: 90px;background: #fff; width: 100%; border-radius: 2px; margin-bottom: 15px;">
            <span style="text-align: center; background-color:#87bdd8 ;height: 90px;width:90px;text-align:center;font-size: 45px;float: left;
            line-height: 90px;">
            <i class="fa fa-exchange" style="color:#ffffff; font-size:45px;"></i>
            </span>
              <div class = "box" style ="padding: 3px 10px;margin-left: 90px;">
              <h2><%= Transaction.count %></h2>
              <p>Transactions</p>

              </div>
            </div>
        </div>

        <div class="col-md-3">
          <div class ="box" style="display: block; min-height: 90px;background: #fff; width: 100%; border-radius: 2px; margin-bottom: 15px;">
            <span style="text-align: center; background-color:#daebe8 ;height: 90px;width:90px;text-align:center;font-size: 45px;float: left;
            line-height: 90px;">
            <i class="fa fa-shopping-cart" style="color:#ffffff; font-size:45px;"></i>
            </span>
              <div class = "box" style ="padding: 3px 10px;margin-left: 90px;">
              <h2><%= Dealer.count %></h2>
              <p>Dealers</p>

              </div>
            </div>
        </div>
        </div>
        <div class = "container" style="background-color:#ffffff; margin-bottom:20px;margin-top:20px;">
      <div class ="row p-3">
        <div class ="col-md-5">
          <%= bar_chart Account.group(:balance).sum(:id),colors: ["#87bdd8", "#b7d7e8"] %>
          <p class ="lead" style=" padding-left:90px; margin-top:20px;">Account Balance Summary</p>
            </div>
          <div class ="col-md-7">
            <%= pie_chart Transaction.group(:currency).count ,colors: ["#87bdd8", "#daebe8"]%>
            <p class ="lead" style=" padding-left:220px; margin-top:20px;">Currency Types</p>

              </div>
                </div>
          </div>

          <div class = "container" style="background-color:#ffffff">

          <div class ="row p-3">
            <div class ="col-md-5">
              <%= line_chart Dealer.group(:max_amount).count %>

                </div>
                <div class ="col-md-5">
                  <%= area_chart Account.group(:balance).maximum(:balance) %>

                </div>
          </div>
  </div>
    </div>
  </div>
</div>
