<div class="row">
    <%= render partial: "admin/shared/navbar" %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Admin dashboard</h1>
        </div>

        <h3>Users <span class="small font-italic" style="font-size: x-small;">(ordered by last accessed time)</span></h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>No. </th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Last accessed time</th> <!-- Ordered by last accessed time by default -->
                        <th>Last accessed IP</th> <!-- IPv4 -->
                    </tr>
                </thead>
                <tbody>
                    <% @users.each_with_index do |u, i| %>
                    <tr>
                        <th scope="row"><%= i %></td>
                        <td><%= u.firstname %></td>
                        <td><%= u.lastname %></td>
                        <td><%= u.last_sign_in_at %></td>
                        <td><%= u.last_sign_in_ip %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <h3>Accounts <span class="small font-italic" style="font-size: x-small;">(ordered by last updated time)</span></h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>No. </th>
                        <th>Account number</th>
                        <th>User</th>
                        <th>Balance</th>
                        <th>Updated at</th> <!-- Ordering -->
                    </tr>
                </thead>
                <tbody>
                    <% @accounts.each_with_index do |a, i| %>
                    <tr>
                        <th scope="row"><%= i %></td>
                        <td><%= a.account_number %></td>
                        <td><%= "#{a.user.firstname} #{a.user.lastname}" %></td>
                        <td><%= a.balance %></td>
                        <td><%= a.updated_at %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <h3>Transactions <span class="small font-italic" style="font-size: x-small;">(ordered by created time)</span></h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>No. </th>
                        <th>Payer</th>
                        <th>Payer account</th>
                        <th>Amount</th> 
                        <th>Date</th> <!-- Ordering -->
                    </tr>
                </thead>
                <tbody>
                    <% @transactions.each_with_index do |a, i| %>
                    <% payer = t.payer_account %>
                    <tr>
                        <th scope="row"><%= i %></td>
                        <td><%= "#{payer.firstname} #{payer.lastname}" %></td>
                        <td><%= payer.account_number %></td>
                        <td><%= t.amount %></td>
                        <td><%= t.created_at %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </main>
</div>