<div class="row">
  <%= render partial: "admin/shared/navbar" %>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 style="font-weight:bold;">Admin Dashboard</h1>
    </div>
    <h3 style="color:#01045d;font-weight:bold">Users
      <span class="small font-italic" style="font-size: small;">(ordered by last accessed time)</span>
      <span class="small" style="font-size: small;">TOTAL: <%= User.count %>     users</span>

    </h3>
    <div class=" table-bordered table-striped table-sm table-hover" style="margin-bottom:30px">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th class ="p-3" style="color:#01045d;">No. </th>
            <th class ="p-3" style="color:#01045d;">Firstname</th>
            <th class ="p-3" style="color:#01045d;">Lastname</th>
            <th class ="p-3" style="color:#01045d;">Last accessed time</th>
             <!-- Ordered by last accessed time by default -->
            <th class ="p-3" style="color:#01045d;">Last accessed IP</th>
             <!-- IPv4 -->
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |u, i| %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%= link_to u.firstname, admin_user_path(u) %></td>
              <td><%= link_to u.lastname, admin_user_path(u) %></td>
              <td><%= u.last_sign_in_at %></td>
              <td><%= u.last_sign_in_ip %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <h3 style="color:#01045d;font-weight:bold">Accounts
       <span class="small font-italic" style="font-size: small;">(ordered by last updated time)</span>
       <span class="small" style="font-size: small;">TOTAL: <%= Account.count %>  accounts</span>

     </h3>
    <div class=" table-bordered table-striped table-sm table-hover" style="margin-bottom:30px">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th class ="p-3" style="color:#01045d;">No. </th>
            <th class ="p-3" style="color:#01045d;">Account number</th>
            <th class ="p-3" style="color:#01045d;">User</th>
            <th class ="p-3" style="color:#01045d;">Balance</th>
            <th class ="p-3" style="color:#01045d;">Updated at</th>
             <!-- Ordering -->
          </tr>
        </thead>
        <tbody>
          <% @accounts.each_with_index do |a, i| %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%= link_to a.account_number, admin_account_path(a) %></td>
              <td><%= "#{a.user.firstname} #{a.user.lastname}" %></td>
              <td><%= number_to_currency(a.balance, unit: a.currency, format: "%u %n") %></td>
              <td><%= a.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <h3 style="color:#01045d;font-weight:bold">Transactions
      <span class="small font-italic" style="font-size: small;">(ordered by created time)</span>
      <span class="small" style="font-size: small;">   TOTAL: <%= Transaction.count %>  transactions</span>
    </h3>
    <div class=" table-bordered table-striped table-sm table-hover" style="margin-bottom:30px">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th class ="p-3" style="color:#01045d;">No. </th>
            <th class ="p-3" style="color:#01045d;">Account</th>
            <th class ="p-3" style="color:#01045d;">Dealer</th>
            <th class ="p-3" style="color:#01045d;">Amount</th>
            <th class ="p-3" style="color:#01045d;">Date</th>
             <!-- Ordering -->
          </tr>
        </thead>
        <tbody>
          <% @transactions.each_with_index do |t, i| %>
            <% account = t.account %>
            <% user = account.user %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%= link_to account.account_number, admin_transaction_path(t) %></td>
              <td><%= "#{user.firstname} #{user.lastname}" %></td>
              <td><%= number_to_currency(t.amount, unit: t.currency, format: "%u %n") %></td>
              <td><%= t.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </main>
</div>
