<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-6 border-bottom box-shadow">
  <a class="my-0 mr-md-auto brand w-nav-brand w--current" href="/" aria-current="page" aria-label="home">
    <img class="brand-logo" src="<%= header_logo %>" width="100px">
  </a>
  <% if !current_user.nil? %>
    <%= link_to "Dashboard", dashboard_path, class: "p-2 text-dark" %>
  <% end %>
  <nav class="my-2 my-md-0 mr-md-3" style="display: inline;">
    <%= raw render_markdown(navbar_md) %>
  </nav>
  <% if current_user.nil? %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-light mr-1", style: "color: #6c757d; border-color: #dee2e6;" %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-light", style: "color: #6c757d; border-color: #dee2e6;" %>
  <% else %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-light mr-1", style: "color: #6c757d; border-color: #dee2e6;" %>
    <% if current_user.admin %>
      <%= link_to "Admin Area", admin_login_path, class: "btn btn-outline-dark" %>
      <% if admin_logged_in %>
        <%= link_to "Logout as admin", admin_logout_path, method: :delete, class: "btn btn-outline-danger ml-1" %>
      <% end %>
    <% end %>
  <% end %>
</div>
