<!-- Main container for bank marketing message and sign in & sign up buttons -->
<div style="background-color: <%= home_background_color %>">
<div class="container-flex">
  <div class="carousel-inner">
      <img class="bd-placeholder-img" src="<%= home_main_marketing_image %>" width="100%" height="80%">
      <div class="carousel-caption text-center">
        <h1 class="display-1"><%= home_main_marketing_title %></h1>
        <h4><%= home_main_marketing_subtitle %></h4>
        <!-- TODO: Button style and classes -->
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-light" %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-lg btn-light" %>
      </div>
  </div>
</div>

<!-- 3 Main marketing messages -->
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-7">
      <h2 style="margin: 40px;"><%= home_main_marketing_message_1 %></h2>
      <p class="lead" style="margin: 40px;" ><%= home_main_marketing_text_1 %></p>
    </div>

    <div class="col-md-5">
      <svg width="500" height="500">
        <rect width="100%" height="100%" fill="#eee" />
        <image xlink:href="<%= home_main_marketing_card_image_1 %>" width="500" height="500">
      </svg>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-7 order-md-2">
      <h2 style ="margin: 40px;"><%= home_main_marketing_message_2 %></h2>
      <p class="lead" style ="margin: 40px;"><%= home_main_marketing_text_2 %></p>
    </div>

    <div class="col-md-5 order-md-1">
      <svg class="img-fluid mx-auto" width="500" height="500">
        <rect width="100%" height="100%" fill="#eee" />
        <image width="400" height="500" xlink:href="<%= home_main_marketing_card_image_2 %>">
      </svg>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-7">
      <h2 style ="margin: 40px;"><%= home_main_marketing_message_3 %></h2>
      <p class="lead" style ="margin: 40px;"><%= home_main_marketing_text_3 %></p>
    </div>

    <div class="col-md-5">
      <svg class="img-fluid mx-auto" width="500" height="500">
        <rect width="100%" height="100%" fill="#eee"/>
        <image width="400" height="500" xlink:href="<%= home_main_marketing_card_image_3 %>">
      </svg>
    </div>
  </div>
  <hr>
</div>

<!-- Footer -->
<footer >
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <%= raw render_markdown(home_footer_md) %>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h4 class="font-weight-bold" style="color:#02376D;"><%= bank_name %></h4>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
        <br>
        <image width="80%" height="40%" src="<%= header_logo %>">
      </div>

      <div class="col-md-4 col-lg-3 mb-5">
      </div>

      <!-- TODO: this layout can be customized: color, structure, array of links -->

      <div class="col-md-3 col-lg-2 col-xl-2 mb-4">
        <h4 class="font-weight-bold"style="color: #02376D;">Products</h4>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
        <p><a href="#">Bank account</a></p>
        <p><a href="#">Savings</a></p>
        <p>Mortgage</p>
        <p>Personal Loans</p>
        <p>Credit Cards</p>
      </div>

      <div class="col-md-3 mb-md-0 mb-4">
        <h4 class=" font-weight-bold"style ="color:#02376D;">Support& Security</h4>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
        <p>Help and Support</p>
        <p>Security and fraud</p>
        <p>Accessibility</p>
        <p>Online Terms and Services</p>
      </div>
    </div>

  </div>

</footer>

</div>
