<%= form_for [:admin, transaction], class: "col-8" do |form| %>
  <!-- Errors -->
  <% if transaction.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row p-3">
    <%= form.label :account_Number, class: "col-sm-4 col-form-label", style:"font-size:18px;" %>
    <div class="col-sm-6">
      <%= form.collection_select :account_id, Account.all, :id, :account_number,:prompt => true %>
    </div>
  </div>
  <div class="form-group row p-3">
    <%= form.label :amount, class: "col-sm-4 col-form-label", style:"font-size:18px;" %>
    <div class="col-sm-6">
      <%= form.text_field :amount, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row p-3" >
    <%= form.label :currency, class: "col-sm-4 col-form-label", style:"font-size:18px;" %>
    <div class="col-sm-6">
      <%= form.text_field :currency , class: "form-control" %>

    </div>
  </div>
  <div class="form-group row p-3">
    <%= form.label :dealer_account_number, class: "col-sm-4 col-form-label", style:"font-size:18px;" %>
    <div class="col-sm-6">
      <%= form.text_field :dealer_account_number, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row p-3">
    <%= form.label :dealer_name, class: "col-sm-4 col-form-label" , style:"font-size:18px;"%>
    <div class="col-sm-6">
      <%= form.text_field :dealer_name, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row p-3">
    <div class="col-sm-2">
</div>
  <div class="actions">
    <%= form.submit class: "button is-success" ,style:"border-radius:18px; font-size:18px;
    width:200px;height:60px;background-color:#01045d; border-color:#01045d;color:#ffffff;font-weight:bold;"%>
  </div>
</div>

<% end %>
