<div class="table-responsive">
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>No. </th>
                <th>Account</th>
                <th>Dealer</th>
                <th>Amount</th>
                <th>Date</th> <!-- Ordering -->
            </tr>
        </thead>
        <tbody>
            <% transactions.each_with_index do |t, i| %>
            <% account = t.account %>
            <% user = account.user %>
            <tr>
                <th scope="row"><%= i+1 %></td>
                <td><%= link_to account.account_number, admin_transaction_path(t) %></td>
                <td><%= "#{user.firstname} #{user.lastname}" %></td>
                <td><%= number_to_currency(t.amount, unit: t.currency, format: "%u %n") %></td>
                <td><%= t.created_at %></td>
                <td><%= link_to 'Edit', edit_admin_transaction_path(t) %></td>
                <td><%= link_to 'Delete', admin_transaction_path(t), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>