<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Transaction to <%= @transaction.payee_fullname %></h4>
            </div>
            <hr class="md-4" />
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Payer Account no.: <%= @transaction.payer_account.account_number %></li>
                <li class="list-group-item">Receiver Account no.: <%= @transaction.payee_account_number %></li>
                <li class="list-group-item">Amount paid: <%= number_to_currency(@transaction.amount, :unit => @transaction.currency, :format => "%u %n") %></li>
                <li class="list-group-item">Reference: <%= @transaction.reference %></li>
            </ul>
            <div class="card-body">
                <%= link_to "Back to account", account_path(@transaction.payer_account), class: "card-link" %>
            </div>
        </div>
    </div>
</div>

<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <nav class="panel is-link">
      <p class="panel-heading">
        <%= @transaction.payer_account.firstname %> to
        <%= @transaction.payee_fullname %>
      </p>

      <div class="panel-block">
        Amount: <%= @transaction.amount %>
      </div>
    </nav>

    <div class="columns is-mobile">
      <div class="column">
        <%= link_to 'Edit', edit_admin_transaction_path(@transaction), class: "button is-gray" %>
        <%= link_to "Delete", admin_transaction_path(@transaction), method: :delete, data: { confirm: "Are you sure?" }, class: "button is-gray" %>
      </div>
    </div>
  </div>
</div>
