<div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>No. </th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Last accessed time</th> <!-- Ordered by last accessed time by default -->
            <th>Last accessed IP</th>
          </tr>
        </thead>
        <tbody>
          <% users.each_with_index do |u, i| %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= link_to u.firstname, admin_user_path(u) %></td>
            <td><%= link_to u.lastname, admin_user_path(u) %></td>
            <td><%= u.last_sign_in_at %></td>
            <td><%= u.last_sign_in_ip %></td>
            <td><%= link_to 'Edit', edit_admin_user_path(u) %></td>
            <td><%= link_to 'Delete', admin_user_path(u), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>