<div class="row">
  <%= render partial: "admin/shared/navbar" %>
  <div class = "col">
    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-3 mb-4 border-bottom">
      <div class = "col p-3">
        <div class="logo-item" >
          <img class="" src="/profile.png" width="120" height="120">
        </div>
      </div>
      <div class ="col-8" style="padding-top:20px;">
        <h1 style="font-weight:bold;"> <%= "#{@user.firstname}" %> <%= "#{@user.lastname}" %></h1>
        <h4>User ID: #<%= "#{@user.id}" %></h4>
      </div>
    </div>
    <div class ="row p-4">
      <div class ="col-6">
        <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:500px; background-color:#075aaa">
          <p class ="lead"style="font-weight:bold;padding-left:30px;padding-top:10px; color:#ffffff;">Personal Information</p>
        </div>
      </div>
    </div>
  </div>
  <div class ="row p-4">
    <div class ="col-6">
      <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:500px; background-color:#525252">
        <p class ="lead"style="font-weight:bold;padding-left:30px;padding-top:10px; color:#ffffff;">Personal Information</p>
      </div>
      <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:500px; height:120px;padding-left:30px;">
        <div class=" row p-3">
          <span style="font-size: 20px;">
            <i class="fa fa-birthday-cake  fa-xs"style="padding-top:20px;"></i>
          </span>
          <div class ="box p-3">
            <p style="color:#525252; font-size:18px">BIRTH DATE</p>
            <p style ="color:#01045d;">  <%= "#{@user.birth_date}" %></p>
          </div>
        </div>
      </div>
      <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:500px; height:120px;padding-left:30px;">
        <div class=" row p-3">
          <span style="font-size: 20px;">
            <i class="fa fa-intersex fa-xs"style="padding-top:20px;"></i>
          </span>
          <div class ="box p-3">
            <p style="color:#525252; font-size:18px">IS_FEMALE</p>
            <p style ="color:#01045d;">  <%= "#{@user.is_female}" %></p>
          </div>
        </div>
      </div>
      <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:500px; height:120px;padding-left:30px;">
        <div class=" row p-3">
          <span style="font-size: 20px;">
            <i class="fa fa-phone  fa-xs" style="padding-top:20px;"></i>
          </span>
          <div class ="box p-3">
            <p style="color:#525252; font-size:18px">CONTACT NUMBER</p>
            <p style ="color:#01045d;">  <%= "#{@user.phone}" %></p>
          </div>
        </div>
      </div>
      <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:500px; height:120px;padding-left:30px;">
        <div class=" row p-3">
          <span style="font-size: 20px;">
            <i class="fa fa-envelope  fa-xs" style="padding-top:20px;"></i>
          </span>
          <div class ="box p-3">
            <p style="color:#525252; font-size:18px">EMAIL</p>
            <p style ="color:#01045d;">  <%= "#{@user.email}" %></p>
          </div>
        </div>
      </div>
      <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:500px; height:120px;padding-left:30px;">
        <div class=" row p-3">
          <span style="font-size: 25px;">
            <i class="fa fa-map-marker" style="padding-top:20px;"></i>
          </span>
          <div class ="box p-3">
            <p style="color:#525252; font-size:18px">ADDRESS INFO</p>
            <p style ="color:#01045d;">  <%= "#{@user.address_line_1}#{@user.address_line_2}" %></p>
          </div>
        </div>
      </div>
    </div>
    <div class ="col-6">
      <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:550px;background-color:#075aaa;">
        <p class ="lead"style="font-weight:bold;padding-left:30px;padding-top:10px; color:#ffffff;">Professional Information</p>
      </div>
      <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:550px; height:120px;padding-left:30px;">
        <div class=" row p-3">
          <span style="font-size: 20px;">
            <i class="fa fa-user" style="padding-top:20px;"></i>
          </span>
          <div class ="box p-3">
            <p style="color:#525252; font-size:18px">IS_ADMIN</p>
            <p style ="color:#01045d;">  <%= "#{@user.admin}" %></p>
          </div>
        </div>
      </div>
      <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:550px; height:140px;padding-left:30px;">
        <div class=" row p-3">
          <span style="font-size: 20px;">
            <i class="fa fa-lock" style="padding-top:20px;"></i>
          </span>
          <div class ="box p-3">
            <p style="color:#525252; font-size:18px">ADMIN PASSPHRASE</p>
          </div>
          <p style ="color:#01045d;"> <%= "#{@user.admin_passphrase_digest}" %></p>
        </div>
      </div>
      <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:550px; height:140px;padding-left:30px;">
        <div class=" row p-3">
          <span style="font-size: 20px;">
            <i class="fa fa-sign-in" style="padding-top:20px;"></i>
          </span>
          <div class ="box p-3">
            <p style="color:#525252; font-size:18px">LAST LOGIN</p>
            <p style ="color:#01045d;"><%= @user.last_sign_in_at %></p>
          </div>
        </div>
      </div>
      <div class = "row" style=" border: 1px solid rgb(190, 190, 190); width:550px; height:140px;padding-left:30px;">
        <div class=" row p-3">
          <span style="font-size: 20px;">
            <i class="fa fa-address-card" style="padding-top:20px;"></i>
          </span>
          <div class ="box p-3">
            <p style="color:#525252; font-size:18px">LAST ACCESS IP ADDRESS</p>
            <p style ="color:#01045d;"><%= @user.last_sign_in_ip %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Table -->
</div>
