<%= form_with(scope: :transaction, url: transactions_path(transaction), method: :post, local: true) do |form| %>
  <!-- Errors -->
  <% if transaction.errors.any? %>
    <div class="alert alert-danger">
        <ul>
          <% transaction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <%= form.label :account_id, "From account...", class: "col-form-label" %>
    <%= form.select :account_id, options_for_select(@accounts.map{ |c| 
        ["#{c.account_number} - #{ActiveSupport::NumberHelper.number_to_currency(c.balance, :unit => c.currency, :format => "%u %n")}", c.id] }),
         {}, { class: "custom-select d-block w-100" } %>
  </div>
  <hr class="mb-4">
  <div class="form-group row">
    <%= form.label :amount, class: "col-form-label" %>
    <%= form.number_field :amount, class: "form-control" %>
  </div>
  <div class="form-group row">
    <%= form.label :dealer_account_number, "Receiver bank account", class: "col-form-label" %>
    <%= form.text_field :dealer_account_number, placeholder: "sortcode (6 digits) + account number (8 digits)", class: "form-control" %>
  </div>
  <div class="form-group row">
    <%= form.label :dealer_name, "Receiver fullname", class: "col-form-label" %>
    <%= form.text_field :dealer_name, class: "form-control" %>
  </div>
  <div class="form-group row">
    <%= form.label :reference, class: "col-form-label" %>
    <%= form.text_field :reference, class: "form-control" %>
  </div>
  <div class="form-group row">
    <%= form.submit "Confirm payment", class: "btn btn-light btn-lg btn-block", style: "color: #6c757d; border-color: #dee2e6;" %>
  </div>
<% end %>
