  
<div class="row justify-content-center" style="padding: 10px; <%= make_payment_page_style %>">
  <div class="col-lg-4 mx-auto">
    <img src="<%= make_payment_image %>" width="100%">
    <%= raw render_markdown(make_payment_md) %>
  </div>
  <div class="col-lg-4 mx-auto">
    <h2 class="display-4 text-info"><%= make_payment_title %></h2>
    <em>...and do it securely</em>
    <hr>
    <%= render 'form', transaction: @transaction %>
    <%= link_to dashboard_path do %>
      <div class="btn btn-light" style="color: #6c757d; border-color: #dee2e6;">
        <i class="fa fa-arrow-left" style="color: #000000;"></i>
        Cancel
      </div>
    <% end %>
  </div>
  <%= render "shared/footer" %>
</div>
