<div class="row justify-content-center" style="padding: 10px; <%= show_payment_page_style %>">
  <div class="col-sm-3">
    <img src="<%= show_payment_image %>" width="100%">
    <%= raw render_markdown(show_payment_md) %>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <!-- image -->
          <img src="https://logosandtypes.com/wp-content/uploads/2020/07/ashmolean.svg" class="rounded-circle"
                        width="150">
          <div class="mt-3">
            <h4><%= @transaction.dealer_name %></h4>
            <p class="display-4 <%= @transaction.amount > 0 ? 'text-success' : 'text-danger' %>"><%= number_to_currency(@transaction.amount, :unit => @transaction.currency, :format => "%u %n") %></p>
            <p class="text-secondary mb-1"><%= @transaction.created_at %></p>
            <button class="btn btn-outline-danger"><i class="fa fa-flag" style="color: #000000;"></i> Report</button>
          </div>
        </div>
    <%= render "shared/footer" %>
</div>

