<!DOCTYPE html>
<html>

<head>
  <title><%= bank_name %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Fonts: TODO add more -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <!--load navbar -->
  <%= render 'shared/navbar' %>

  <!-- main -->
  <main class="container-fluid">
    <% if notice.present? %>
    <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
    <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <div class="row col-4 offset-md-4">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </main>


</body>

</html>
