<div class="container-fluid">
  <div class="row">
    <%= render partial: "dashboard/navbar" %>
    <main id="account-show" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h2 style="font-weight:bold; color:blue">My account</h2>
      <!-- account info -->
      <div class="card" style="width: 60%; margin-top:1.5rem;">
        <div class="card-header font-weight-bold" style="font-size: 1.5rem;">
          BANK A/C
        </div>
        <div class="card-body">
          <div class="row" style="margin-left: 0.5rem;" >
            <!-- left side-->
            <div class="col-6">
              <div class="row" style="font-size: 1.25rem;"><%= @account.account_number %></div>
              <div class="row" style="font-size: 1rem;">Currency &nbsp; <i><%= @account.currency %></i></div>
              <div class="row" style="font-size: 1.25rem;"><%= "#{@account.user.lastname} #{@account.user.firstname[0]}" %></div>
            </div>
            <!-- right side-->
            <div class="col-6">
              <div class="row">
                <div class="col-8 font-weight-bold" style="font-size: 1.5rem;">Balance</div>
                <div class="col-4 text-md-right font-weight-bold" style="font-size: 1.5rem;"><%= @account.balance %></div>
              </div>
              <div class="row">
                <div class="col-8" style="font-size: 1rem;">Avilable Balance</div>
                <div class="col-4 text-md-right" style="font-size: 1rem;"><%= @account.balance %></div>
              </div>
              <div class="row">
                <div class="col-8" style="font-size: 1rem;">Arranged Overdraft</div>
                <div class="col-4 text-md-right" style="font-size: 1rem;">0.0</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
              <button type="button" class="btn btn-info" style="width: 8rem">
                Statement
              </button>
              
              <button type="button" class="btn btn-secondary" style="width: 12rem; margin-left:50% float: right">
                Investment plans
              </button>
              <button type="button" class="btn btn-secondary" style="width: 12rem; margin-left:1rem float: right">
                Manage overdraft
              </button>
        </div>
      </div>
      <!--transaction history-->
      <div class="card" style="width: 80%; margin-top: 2rem;">
        <div class="card-body">
          <h3>Transactions</h3>
          <table class="table table-hover" style="width: 100%">
            <colgroup>
              <col span="1" style="width: 20%;">
              <col span="1" style="width: 50%;">
              <col span="1" style="width: 10%;">
              <col span="1" style="width: 10%;">
              <col span="1" style="width: 10%;">
            </colgroup>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Currency</th>
              <th>Amount</th>
              <th>Detail</th>
            </tr>
            <% count = 1 %>
            <% @transactions.each do |transaction| %>
              <% count = count + 1 %>
              <tr class="transaction-row" style="background-color:<%= account_table_color count %>">
                <td class="center-aligned">
                  <!-- Time format: yyyy-mm-dd hh:mm:ss -->
                  <%= transaction.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                <!-- inbound -->
                <% if transaction.amount > 0 %>
                  <td class="left-aligned">Received from <%= transaction.dealer_name %></td>
                  <td class="center-aligned"><%= transaction.currency %></td>
                  <td class="center-aligned text-success"><%= transaction.amount %></td>
                <!-- outbound -->
                <% else %>
                  <td class="left-aligned">Transferred to <%= transaction.dealer_name %></td>
                  <td class="center-aligned"><%= transaction.currency %></td>
                  <td class="center-aligned text-danger"><%= transaction.amount %></td>
                <% end %>
                <td class="center-aligned"><%= link_to "View", transaction_path(transaction), class: "link"%></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
