<div class="image-container  set-full-height" style = " display: flex; align-items: center;justify-content: center;
background-image: url('<%= signup_background_image %>');background-position: center center;background-size: cover;">
  <div class = "row mx-md-n2">
      <div class="col p-4">
    <img class="mb-3" src="<%=login_sigup_logo_image%>" width="110" height="110" >
    <h2 class = "display-4 text-uppercase font-weight-bold" style="color: #ffffff;font-size:<%= sign_up_head_size + "px"%>" >Sign Up </h2>
    <p class = "lead " style="color: #ffffff;"><%=sign_up_text_1%></p>
    <p class = " mb-auto"style="color: #ffffff;"><%=sign_up_text_2%></p>
    <p style="color: #ffffff;">Your information will never be shared or sold.</p>
    <a href="#" style="bold">Read Our Privacy Policy</a>
    <br><br>

    <p class ="lead" style="color: #ffffff;">Already have an account? </p>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-lg btn-primary",:style => "width:150px;
    border-color:	#f90e67; background-color: 	#f90e67;" %>
   </div>

<div class="col-6 ">
  <br>  <br>  <br>
    <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <!-- errors -->
      <%= render "users/shared/error_messages", resource: resource %>
      <div class ="row" id ="user_name">

        <div class="field p-3">
           <label class="float-left">
          <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", placeholder: "First Name" %>
        </div>

        <div class="field p-3">
          <%= f.text_field :lastname, autocomplete: "lastname", placeholder: "Last Name" %>
        </div>
      </div>

      <div class="field">
        <%= f.email_field :email, :size=>"45",autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class ="row">
      <div class="field p-3">
        <%= f.date_select :birth_date, start_year: 1800, end_year: Time.now.year %>
      </div>
      <div class="field p-3">
        <%= f.select :is_female, User::GENDER_TYPES %>
      </div>
      </div>

      <div class="field">
        <%= f.text_field :phone, :size=>"30",autocomplete: "phone", placeholder: "Phone Number" %>
      </div>
      <br>
      <div class="field">
        <%= f.text_field :address_line_1 , placeholder: "Address Line 1", :size=>"45" %>
      </div>
      <br>

      <div class="field">
        <%= f.text_field :address_line_2,  placeholder: "Address Line 2", :size=>"45" %>
      </div>

      <div class ="row" id ="countryinfo">
        <div class="field p-3">
          <%= f.text_field :postcode, placeholder: "Postcode" %>
        </div>
        <div class="field p-3">
          <%= f.text_field :country,placeholder: "Country" %>
      </div>
      </div>

      <div class = "row" id="password combination">
      <div class="field p-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
<%= f.password_field :password, autocomplete: "new-password", placeholder: "Choose Your Password" %>
</div>
<div class="field p-3">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
</div>
</div>
<div class ="row" id="confirmation">
  <div class = "col-4 p-3">
    <div class="actions p-1">
      <%= f.submit "Sign up", class:'btn btn-primary btn-lg',:style => "width:150px;
        border-color: 	#f90e67; background-color:	#f90e67;" %>
    </div>
  </div>
  <div class ="col-5 p-3">
    <p class ="text-muted mb-auto">By clicking the "Sign up" button, you are creating
      a Lynx bank account, and you agree to Lynx's
      <a href ="#">Terms of Use </a>and
      <a href ="#">Privacy Policy</a> .</p>
  </div>
</div>
</div>
</div>
</div>
<% end %>
